@import
    '../mixin',
    '../variable';

.help{
  font:14px 'Microsoft YaHei',tahoma,arial,\5b8b\4f53;

  & .left-nav{

    & > li{
      width:100%;
      line-height: 30px;
      text-align: center;

      & > a{
        color: #000;
        background: url(http://static.ddy98.com/front/1.0.0/images/helps/bj01.png) no-repeat;
        background-position: -21px -60px;
        width: 200px;
        height: 30px;
        display: block;
        font-size:14px;

        &.active{
          background: url(http://static.ddy98.com/front/1.0.0/images/helps/bj01.png) no-repeat;
          background-position: -21px -21px;
          width: 200px;
          height: 30px;
          display: block;
          color: #FFF;
        }
      }
    }
  }

  & .center-main{

    & > p{
      line-height: 24px;
    }
    & > h2{
      color: #0f8ec7;
      padding-bottom: 5px;
      font-size: 22px;
      font-weight: bold;
    }
  }

  & .center-head{
    color: #0f8ec7;
    font-weight: 500;
    font-family: "微软雅黑";
    border-bottom: 1px #0094de solid;
    display: block;
    padding-bottom: 6px;
    font-size:14px;
  }

  & .center{
    font-size: 14px;
    color: #222;

  }

  & .recharge{
    font-size: 14px;
    color: #222;
  }

  & .stock{
    & .title{
      line-height: 35px;
      color: #333;
      font-size: 20px;
      margin: 20px 0 10px
    }

    & .stock-content{
      width:100%;
      margin:10px 0;

      & > dl{
        width: 100%;
        float: none;
        margin: 5px 6px;
        border-bottom: 1px dashed #ccc;
        padding-bottom: 5px;
        height:35px;
        overflow: hidden;
        @include browser('transition', all 0.5s);

        & > dt{
          width: 100%;
          height: 35px;
          margin-right: 6px;
          line-height: 35px;
          font-size: 16px;
          color: #0f8ec7;
          text-indent: 30px;
          background: url('http://static.ddy98.com/front/1.0.0/images/icon/q-icon.png') -23px 10px no-repeat;
          cursor: pointer;

          &.open-icon{
            background: url('http://static.ddy98.com/front/1.0.0/images/icon/q-icon.png') -23px -20px no-repeat;
          }
        }

        & > dd{
          //display:none;
          line-height: 25px;
          padding: 5px 0px 5px 30px;
          font-size: 14px;
          color:#333;
        }
      }
    }
  }

  & .feedback{

    & .submit-form{

      & .feedback-title{
        height: 36px;
        line-height: 35px;
        color: #0f8ec7;
        font-size: 16px;
        margin: 15px 0;

        & > span.after-saying{
          height: 36px;
          line-height: 35px;
          color: #999999;
          font-size: 14px;
        }
      }
      & .line{
        margin-bottom: 30px;
        font-size:14px;
        color:#333;
        overflow: hidden;

        & textarea{
          width:655px;
          height: 161px;
          padding: 8px 12px;
          border-radius: 3px;
          border: 1px solid #0f8ec7;
          line-height: 25px;
          float: right;
          margin-right: 8px;
          margin-top:10px;
        }

        & .line-label{
          height: 36px;
          line-height: 36px;
          width: 250px;
          color: #666666;
          display: inline-block;
          cursor: pointer;
          float: left;
          margin-left: 0;
          border-radius: 18px;
          &:hover{
            background: #eee;
          }
        }

        & .icon-file{
          width: 36px;
          height: 30px;
          display: inline-block;
          background: url('http://static.ddy98.com/front/1.0.0/images/help/feedback-icon.png') no-repeat;
          background-position: 0 0;
          margin: 4px 5px 0 20px;
          float: left;
        }

        & .file-img{
          display:none;
          padding-top: 4px;
          display: block;
          max-width: 135px;
          float: left;
          margin-left: 6px;
          padding-right: 24px;
        }

        & .submit-btn{
          padding: 5px 20px;
          background-color: #4FB7E6;
          color: #fff;
          border-radius: 5px;
          display: inline-block;
          cursor: pointer;
        }
      }
    }

    & .top-list-bar{
      height: 36px;
      line-height: 36px;
      border-bottom: 1px solid #c6e9f4;
      margin-top: 60px;

      & > div{
        width: 33.3%;
        height: 36px;
        line-height: 36px;
        border-radius: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        text-align: center;
        color: #161f43;
        font-size: 20px;
        float: left;
        display: block;
        cursor: pointer;
        text-indent: 2px;
        letter-spacing: 2px;
        position: relative;

        &.active{
          background-color: #4fb7e6;
          color: #fff;

          & > i{
            border: 10px solid transparent;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top-color: #4fb7e6;
            width: 0px;
            height: 0px;
            font-size: 0;
            position: absolute;
            top: 36px;
            left: 108px;
          }
        }
      }
    }

    & .main-content{

      & li{
        color: #545454;
        line-height: 30px;
        overflow: hidden;

        & .i-img-ask{
          width: 32px;
          height: 32px;
          background: url('http://static.ddy98.com/front/1.0.0/images/help/feedback-icon.png') no-repeat;
          background-position: -48px 0;
          float: left;
          margin: 0 30px 0 0;
        }

        & .list-content{
          width: 435px;
          min-height: 32px;
          border: 1px solid #fff;
          border-radius: 5px;
          float: left;
          line-height: 23px;
          padding-left: 10px;
          position: relative;
          cursor: pointer;

          & > i{
            width: 16px;
            height: 20px;
            background: url('http://static.ddy98.com/front/1.0.0/images/help/feedback-icon.png') no-repeat;
            background-position: -204px -5px;
            position: absolute;
            left: -16px;
            top: 7px;
          }

          & > span{
            padding: 6px 0;
            width: 400px;
            height: 23px;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
            color:'#000'
          }

          & > b{
            width: 10px;
            height: 10px;
            display: block;
            background: url('http://static.ddy98.com/front/1.0.0/images/help/feedback-icon.png') no-repeat;
            background-position: -144px -11px;
            float: right;
            position: absolute;
            right: 10px;
            top: 11px;
          }

          &:hover{
            border:1px solid #4fb7e6;

            & i{
              background-position: -180px -5px;
            }
          }
        }

        & .list-date{
          float: right;
          width: 120px;
          height: 35px;
          line-height: 35px;
          color: #161f43;
          text-align: right;
          font-size: 12px;
          margin-right: 8px;
        }
      }
    }
  }
}
