// 默认字体
$body-font: 'Segoe UI','Lucida Grande',Helvetica,Arial,'Microsoft YaHei',FreeSans,Arimo,'Droid Sans','wenquanyi micro hei','Hiragino Sans GB','Hiragino Sans GB W3',FontAwesome,sans-serif;

// 默认字体颜色
$txt-default: #807f7f;
// 默认背景颜色
$stable-bg: #F3F3F3;
// 默认行高
$line-height-base: 1.5;
$font-size-root: 625%;
// 默认字体大小
$font-size-base: .14rem;
// 默认圆角
$border-radius-default: 6px;
// 默认边框颜色
$border-color-default: #E9E9Eb;

// 主窗体宽度
$main-width: 1200px;

// 左侧菜单宽度
$sidemenu-width: 210px;
$sidemenu-height: 550px;
$sidemenu-count: 6;
$sidemenu-group-count: 2;

// 常用色
$color-blue: #1586cc;
$color-blue-light: #6ea9d9;
$color-orange: #ff6f00;
$color-green: #4fd1cf;
$color-global-red: #fc5146;
$color-global-blue: #55b5fc;
$color-global-green: #00a104;
